<turbo-stream action="replace" target="comment_{{ commentId }}">
	<template>
		<div id="comment_{{ commentId }}" data-controller="auto-remove" class="text-sm text-green-600 bg-green-50 border border-green-200 rounded-lg p-3">
			Message supprimé avec succès
		</div>
	</template>
</turbo-stream>
