<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {{ include("components/navbar/index.html.twig") }}

        {% block body %}{% endblock %}
    </body>
</html>
